extends layout

block content
  header.site-header
    .header-inner
      a.brand(href="/", aria-label="GreenAge")
        img.brand-logo(src="/images/tooplate_logo.png", alt="GreenAge")
        span.brand-tagline Free Website Templates
  #tooplate_menu
    .menu-inner
      ul
        li
          a.current(href="index.html") Home
        li
          a(href="gallery.html") Gallery
        li
          a(href="news.html") News
        li
          a(href="blog.html") Blog
        li.last
          a(href="contact.html") Contact
      #search_box
        form(action="#", method="get")
          input#searchfield(
            type="text"
            value="Search"
            name="q"
            size="10"
            title="searchfield"
            onfocus="clearText(this)"
            onblur="clearText(this)"
          )
          input#searchbutton(
            type="submit"
            name="Search"
            value=""
            title="Search"
          )
      .cleaner

