doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/styles/site.css")
    script(defer, src="/scripts/slideshow.js")
  body(class=bodyClass)
    #tooplate_wrapper
      header#tooplate_header
        #site_title
          h1
            a(href="/") Green Age
        .cleaner

      nav#tooplate_menu
        ul
          li
            a(class=active==="home" ? "current" : "", href="/") Home
          li
            a(class=active==="gallery" ? "current" : "", href="/gallery") Gallery
          li
            a(class=active==="news" ? "current" : "", href="/news") News
          li
            a(class=active==="blog" ? "current" : "", href="/blog") Blog
          li.last
            a(class=active==="contact" ? "current" : "", href="/contact") Contact

        #search_box
          form(action="#", method="get")
            input#searchfield(type="text", name="q", value="Search", title="searchfield")
            button#searchbutton(type="submit", title="Search") Go

        .cleaner

      block middle
      block main
